### Project 5

In [1]:

import json
import pandas as pd
import numpy as np
import math
import requests
import time
from datetime import datetime, timedelta
from getpass import getpass



# The code makes sure that once there is change in the 'src/' folder, the 
# change will be automatically reloaded in the notebook.
%reload_ext autoreload
%autoreload 2
%aimport src

### Load data from NASA

In [2]:


# Set your NASA API KEY, this step asks you to enter your API KEY.
# (The input box may be float in the top on your editor.)

api_key = getpass()

print(api_key)
#5moAl3aXJFGab03t4Rwyvnsb9UKRUSq5Tpu2aZYm

5moAl3aXJFGab03t4Rwyvnsb9UKRUSq5Tpu2aZYm

In [3]:
# Set the start and end dates for the data you want to fetch
start_date = datetime.strptime('2022-01-01', '%Y-%m-%d')
end_date = start_date + timedelta(days=365)  # 1 year later

# Initialize a list to store the data
data = []

# Fetch data from the NASA API 7 days at a time
# The introduction of the API is on https://api.nasa.gov, under "Browse APIs" -> "Asteroids NeoWs"
# You can look into the example query in the link below to see what the data look like:
# https://api.nasa.gov/neo/rest/v1/feed?start_date=2015-09-07&end_date=2015-09-08&api_key=DEMO_KEY
current_date = start_date
while current_date < end_date:
    next_date = min(current_date + timedelta(days=7), end_date)
    response = requests.get(f'https://api.nasa.gov/neo/rest/v1/feed?start_date={current_date.strftime("%Y-%m-%d")}&end_date={next_date.strftime("%Y-%m-%d")}&api_key={api_key}')
    data.append(response.json())
    current_date = next_date
    time.sleep(1)  # To avoid hitting the rate limit

# Now 'data' contains the NEO data for the 1-year period

### Understanding of the data

In [56]:
# Save as json file in data.json
"""
jsonString = json.dumps(data)
jsonFile = open("data.json", "w")
jsonFile.write(jsonString)
jsonFile.close()
"""

dates_contained_in_data = []
for d in data:
    dates_contained_in_data += list(d['near_earth_objects'].keys())

['2022-01-07', '2022-01-08', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-01', '2022-01-02', '2022-01-08', '2022-01-09', '2022-01-14', '2022-01-15', '2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13', '2022-01-18', '2022-01-19', '2022-01-15', '2022-01-16', '2022-01-17', '2022-01-21', '2022-01-22', '2022-01-20', '2022-01-29', '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28', '2022-01-22', '2022-01-23', '2022-01-24', '2022-01-29', '2022-02-05', '2022-02-04', '2022-02-01', '2022-02-03', '2022-02-02', '2022-01-30', '2022-01-31', '2022-02-09', '2022-02-08', '2022-02-05', '2022-02-07', '2022-02-06', '2022-02-12', '2022-02-11', '2022-02-10', '2022-02-19', '2022-02-16', '2022-02-15', '2022-02-18', '2022-02-17', '2022-02-12', '2022-02-14', '2022-02-13', '2022-02-19', '2022-02-26', '2022-02-23', '2022-02-22', '2022-02-25', '2022-02-24', '2022-02-21', '2022-02-20', '2022-02-27', '2022-03-05', '2022-02-26', '2022-02-28', '2022-03-02', '2022-03-01', '2022-03-04', '2022-03-03', '2022-03-09', '2022-03-06', '2022-03-05', '2022-03-08', '2022-03-07', '2022-03-12', '2022-03-11', '2022-03-10', '2022-03-17', '2022-03-16', '2022-03-19', '2022-03-18', '2022-03-13', '2022-03-12', '2022-03-15', '2022-03-14', '2022-03-19', '2022-03-24', '2022-03-23', '2022-03-26', '2022-03-25', '2022-03-20', '2022-03-22', '2022-03-21', '2022-03-28', '2022-03-27', '2022-03-29', '2022-04-02', '2022-03-26', '2022-03-31', '2022-03-30', '2022-04-01', '2022-04-08', '2022-04-09', '2022-04-06', '2022-04-07', '2022-04-04', '2022-04-05', '2022-04-02', '2022-04-03', '2022-04-09', '2022-04-15', '2022-04-16', '2022-04-13', '2022-04-14', '2022-04-11', '2022-04-12', '2022-04-10', '2022-04-19', '2022-04-17', '2022-04-18', '2022-04-16', '2022-04-22', '2022-04-23', '2022-04-20', '2022-04-21', '2022-04-30', '2022-04-28', '2022-04-29', '2022-04-26', '2022-04-27', '2022-04-24', '2022-04-25', '2022-04-23', '2022-04-30', '2022-05-07', '2022-05-05', '2022-05-06', '2022-05-03', '2022-05-04', '2022-05-01', '2022-05-02', '2022-05-09', '2022-05-07', '2022-05-08', '2022-05-14', '2022-05-12', '2022-05-13', '2022-05-10', '2022-05-11', '2022-05-20', '2022-05-18', '2022-05-19', '2022-05-16', '2022-05-17', '2022-05-14', '2022-05-15', '2022-05-21', '2022-05-27', '2022-05-28', '2022-05-25', '2022-05-26', '2022-05-23', '2022-05-24', '2022-05-21', '2022-05-22', '2022-05-30', '2022-05-31', '2022-05-29', '2022-05-28', '2022-06-04', '2022-06-02', '2022-06-03', '2022-06-01', '2022-06-10', '2022-06-08', '2022-06-09', '2022-06-06', '2022-06-07', '2022-06-04', '2022-06-05', '2022-06-11', '2022-06-17', '2022-06-18', '2022-06-15', '2022-06-16', '2022-06-13', '2022-06-14', '2022-06-11', '2022-06-12', '2022-06-20', '2022-06-21', '2022-06-19', '2022-06-18', '2022-06-24', '2022-06-25', '2022-06-22', '2022-06-23', '2022-06-30', '2022-06-28', '2022-06-29', '2022-06-26', '2022-06-27', '2022-06-25', '2022-07-02', '2022-07-01', '2022-07-09', '2022-07-08', '2022-07-07', '2022-07-06', '2022-07-05', '2022-07-04', '2022-07-03', '2022-07-02', '2022-07-11', '2022-07-10', '2022-07-09', '2022-07-16', '2022-07-15', '2022-07-14', '2022-07-13', '2022-07-12', '2022-07-22', '2022-07-21', '2022-07-20', '2022-07-19', '2022-07-18', '2022-07-17', '2022-07-16', '2022-07-23', '2022-07-30', '2022-07-29', '2022-07-28', '2022-07-27', '2022-07-26', '2022-07-25', '2022-07-24', '2022-07-23', '2022-08-01', '2022-07-31', '2022-07-30', '2022-08-06', '2022-08-05', '2022-08-04', '2022-08-03', '2022-08-02', '2022-08-12', '2022-08-11', '2022-08-10', '2022-08-09', '2022-08-08', '2022-08-07', '2022-08-06', '2022-08-13', '2022-08-20', '2022-08-19', '2022-08-18', '2022-08-17', '2022-08-16', '2022-08-15', '2022-08-14', '2022-08-13', '2022-08-23', '2022-08-22', '2022-08-21', '2022-08-20', '2022-08-27', '2022-08-26', '2022-08-25', '2022-08-24', '2022-09-03', '2022-08-31', '2022-08-30', '2022-08-29', '2022-08-28', '2022-08-27', '2022-09-01', '2022-09-02', '2022-09-03', '2022-09-04', '2022-09-05', '2022-09-06', '2022-09-07', '2022-09-08', '2022-09-09', '2022-09-10', '2022-09-14', '2022-09-15', '2022-09-16', '2022-09-17', '2022-09-10', '2022-09-11', '2022-09-12', '2022-09-13', '2022-09-17', '2022-09-18', '2022-09-19', '2022-09-20', '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-24', '2022-09-25', '2022-09-26', '2022-09-27', '2022-10-01', '2022-09-28', '2022-09-29', '2022-09-30', '2022-09-24', '2022-10-03', '2022-10-04', '2022-10-01', '2022-10-02', '2022-10-07', '2022-10-08', '2022-10-05', '2022-10-06', '2022-10-14', '2022-10-15', '2022-10-12', '2022-10-13', '2022-10-08', '2022-10-09', '2022-10-10', '2022-10-11', '2022-10-15', '2022-10-18', '2022-10-19', '2022-10-16', '2022-10-17', '2022-10-21', '2022-10-22', '2022-10-20', '2022-10-25', '2022-10-26', '2022-10-23', '2022-10-24', '2022-10-29', '2022-10-27', '2022-10-28', '2022-10-22', '2022-11-04', '2022-11-05', '2022-11-02', '2022-11-03', '2022-10-29', '2022-11-01', '2022-10-30', '2022-10-31', '2022-11-05', '2022-11-08', '2022-11-09', '2022-11-06', '2022-11-07', '2022-11-11', '2022-11-12', '2022-11-10', '2022-11-15', '2022-11-16', '2022-11-13', '2022-11-14', '2022-11-19', '2022-11-17', '2022-11-18', '2022-11-12', '2022-11-26', '2022-11-24', '2022-11-25', '2022-11-19', '2022-11-22', '2022-11-23', '2022-11-20', '2022-11-21', '2022-11-26', '2022-11-27', '2022-12-03', '2022-11-28', '2022-11-29', '2022-11-30', '2022-12-02', '2022-12-01', '2022-12-06', '2022-12-05', '2022-12-04', '2022-12-03', '2022-12-09', '2022-12-08', '2022-12-07', '2022-12-10', '2022-12-17', '2022-12-16', '2022-12-15', '2022-12-14', '2022-12-13', '2022-12-12', '2022-12-11', '2022-12-10', '2022-12-17', '2022-12-19', '2022-12-18', '2022-12-20', '2022-12-24', '2022-12-23', '2022-12-22', '2022-12-21', '2022-12-28', '2022-12-27', '2022-12-26', '2022-12-25', '2022-12-29', '2022-12-31', '2022-12-30', '2022-12-24', '2023-01-01', '2022-12-31']

### Task 3: Data Visualization Part A

In [197]:



def get_data(api_key):
    list =[]
    return list


def json_to_dataframe(df_data, data, dates_contained_in_data):
    ############# Input ################
    # df_data: pandas dataframe
    # data: list
    # dates_contained_in_data: list

    ############# Output ################
    # There is no output. The function overwrites the dataframe.
   

    index1, index2 = 0,0
    for date in dates_contained_in_data:
        week = math.floor(index1/8)
        data_list = data[week]["near_earth_objects"][date]
        index1 += 1

        for i in range(0,len(data_list)):
            index2 +=1
            dict_list = list(data_list[i].keys())

            #Generate new id 
            Id = str(index1)+str(index2)

            df_data.loc[Id,"date"] = date
            df_data.loc[Id,"week"] = week
            
            for first_dict in dict_list:
                if first_dict in ['close_approach_data', 'estimated_diameter']:
            
                    if first_dict == 'close_approach_data': new_data_list=data_list[i][first_dict][0]
                    else: new_data_list=data_list[i][first_dict]

                    new_dict_list = list(new_data_list.keys())
                    
                    for new_dict in new_dict_list:
                        try:
                            if isinstance(new_data_list[new_dict].keys(), type(new_data_list.keys()))==True:
                                end_dict_list = list(new_data_list[new_dict].keys())
                                for end_dict in end_dict_list:
                                    df_data.loc[Id, str(new_dict)+" "+str(end_dict)] = new_data_list[new_dict][end_dict]
                        except:
                            df_data.loc[Id, str(new_dict)] = new_data_list[new_dict]
                else:
                    if not first_dict =='links':
                        df_data.loc[Id, str(first_dict)] = data_list[i][first_dict]
        

df_data = pd.DataFrame()
json_to_dataframe(df_data, data, dates_contained_in_data)
df_data.head(5)

,date,week,id,neo_reference_id,name,nasa_jpl_url,absolute_magnitude_h,kilometers estimated_diameter_min,kilometers estimated_diameter_max,meters estimated_diameter_min,...,epoch_date_close_approach,relative_velocity kilometers_per_second,relative_velocity kilometers_per_hour,relative_velocity miles_per_hour,miss_distance astronomical,miss_distance lunar,miss_distance kilometers,miss_distance miles,orbiting_body,is_sentry_object
11,2022-01-07,0.0,2216523,2216523,216523 (2001 HY7),http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2216523,20.70,0.192555,0.430566,192.555078,...,1.641538e+12,13.0121880947,46843.877140861,29106.9635489977,0.3880911603,150.9674613567,58057610.946708561,36075326.6071617018,Earth,False
12,2022-01-07,0.0,2494697,2494697,494697 (2004 SW55),http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2494697,20.77,0.186447,0.416908,186.446818,...,1.641557e+12,10.0477997303,36172.079029246,22475.9232168112,0.1338706569,52.0756855341,20026765.127740803,12444054.8118889614,Earth,False
13,2022-01-07,0.0,2496860,2496860,496860 (1999 XL136),http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2496860,19.68,0.308003,0.688716,308.003021,...,1.641521e+12,16.7624359332,60344.7693594415,37495.8929389263,0.089547274,34.833889586,13396081.45470638,8323939.029772844,Earth,False
14,2022-01-07,0.0,3311963,3311963,(2006 AL4),http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3311963,24.92,0.027578,0.061665,27.577505,...,1.641567e+12,9.4579600698,34048.6562512758,21156.510880133,0.095183198,37.026264022,14239203.68058826,8847830.887747588,Earth,False
15,2022-01-07,0.0,3401388,3401388,(2008 CO),http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3401388,22.60,0.080270,0.179490,80.270317,...,1.641542e+12,4.4645655825,16072.4360970133,9986.7867515025,0.2067861693,80.4398198577,30934770.472739391,19221975.0369339558,Earth,False

In [198]:
df_data.shape

(7951, 28)